package:
  - path: c:\etc\dcos-metrics-config.yaml
    content: |
  - path: c:\etc\dcos-metrics.env
    content: |
      DCOS_METRICS_CONFIG_PATH="c:\opt\mesosphere\etc\dcos-metrics-config.yam"l
  - path: c:\pkginfo.json
    content: |
      {
        "environment": {
          "MESOS_IP_DISCOVERY_COMMAND": "c:\\opt\mesosphere\\bin\\detect_ip.ps1",
          "PROVIDER": "{{ provider }}"
        }
      }
  - path: c:\opt\mesosphere\bin\detect_ip.ps1
    permissions: "0755"
    content: {{ ip_detect_contents }}
  - path: c:\opt\mesosphere\bin\detect_ip_public.ps1
    permissions: "0755"
    content: {{ ip_detect_public_contents }}
  - path: c:\opt\mesosphere\bin\detect_ip6.ps1
    permissions: "0755"
    content: {{ ip6_detect_contents }}
  - path: c:\etc\license.txt
    permissions: "0600"
    content: {{ license_key_contents }}
  - path: c:\etc_master\master_count
    content: |
      {{ num_masters }}
  - path: c:\etc_slave\dcos-dns.json
    content: |
      {
        "upstream_resolvers": {{ resolvers }},
        "bind_interface": "spartan",
        "udp_port": 53,
        "tcp_port": 53,
        "bind_ip_blacklist": {{ dns_bind_ip_blacklist_json }},
        "forward_zones": {{ dns_forward_zones }}
      }
  - path: c:\etc_slave_public\dcos-dns.json
    content: |
      {
        "upstream_resolvers": {{ resolvers }},
        "bind_interface": "spartan",
        "udp_port": 53,
        "tcp_port": 53,
        "bind_ip_blacklist": {{ dns_bind_ip_blacklist_json }},
        "forward_zones": {{ dns_forward_zones }}
      }
  - path: c:\etc\mesos-slave-common
    content: |
      MESOS_MASTER="zk://zk-1.zk:2181,zk-2.zk:2181,zk-3.zk:2181,zk-4.zk:2181,zk-5.zk:2181/mesos"
      MESOS_CONTAINERIZERS="docker,mesos"
      MESOS_EXTERNAL_LOG_FILE="c:\var\log\mesos\mesos-agent.log"
      MESOS_MODULES_DIR="c:\opt\mesosphere\etc\mesos-slave-modules"
      MESOS_CONTAINER_LOGGER="com_mesosphere_mesos_JournaldLogger"
      MESOS_ISOLATION="{{ mesos_isolation }}""
      MESOS_DOCKER_VOLUME_CHECKPOINT_DIR="c"\var\lib\mesos\isolators\docker\volume"
      MESOS_IMAGE_PROVIDERS="docker"
      MESOS_NETWORK_CNI_CONFIG_DIR="c:\opt\mesosphere\etc\dcos\network\cni"
      MESOS_NETWORK_CNI_PLUGINS_DIR="c:\opt\mesosphere\active\cni\;c:\opt\mesosphere\active\dcos-cni\;c:\opt\mesosphere\active\mesos\libexec\mesos"
      MESOS_WORK_DIR="{{ mesos_agent_work_dir }}"
      MESOS_SLAVE_SUBSYSTEMS="cpu,memory"
      MESOS_LAUNCHER_DIR="c:\opt\mesosphere\active\mesos\libexec\mesos"
      MESOS_EXECUTOR_ENVIRONMENT_VARIABLES="file:///opt/mesosphere/etc/mesos-executor-environment.json"
      MESOS_EXECUTOR_REGISTRATION_TIMEOUT="10mins"
      MESOS_RECONFIGURATION_POLICY="additive"
      MESOS_RECOVERY_TIMEOUT="{{ mesos_recovery_timeout }}"
      MESOS_CGROUPS_ENABLE_CFS="true"
      MESOS_CGROUPS_LIMIT_SWAP="false"
      MESOS_DISALLOW_SHARING_AGENT_PID_NAMESPACE="true"
      MESOS_DOCKER_REMOVE_DELAY="{{ docker_remove_delay }}"
      MESOS_DOCKER_STOP_TIMEOUT="{{ docker_stop_timeout }}"
      MESOS_DOCKER_STORE_DIR="c:\var\lib\mesos\slave\store\docker"
      MESOS_GC_DELAY="{{ gc_delay }}"
      MESOS_HOSTNAME_LOOKUP="false"
      MESOS_DEFAULT_CONTAINER_DNS="file:///opt/mesosphere/etc/mesos-slave-dns.json"
      MESOS_IMAGE_GC_CONFIG="file:///opt/mesosphere/etc/mesos-slave-image-gc-config.json"
      GLOG_drop_log_memory="false"
  - path: c:\etc\docker_credentials
    permissions: "0600"
    content: |
        {{ cluster_docker_credentials }}
  - path: c:\etc\mesos-slave
    content: |
      MESOS_RESOURCES=[{"name":"ports","type":"RANGES","ranges": {"range": [{"begin": 1025, "end": 2180},{"begin": 2182, "end": 3887},{"begin": 3889, "end": 5049},{"begin": 5052, "end": 8079},{"begin": 8082, "end": 8180},{"begin": 8182, "end": 32000}]}}]
  - path: c:\etc\mesos-slave-public
    content: |
      MESOS_RESOURCES=[{"name":"ports","type":"RANGES","ranges": {"range": [{"begin": 1, "end": 21},{"begin": 23, "end": 5050},{"begin": 5052, "end": 32000}]}}]
      MESOS_DEFAULT_ROLE=slave_public
      MESOS_ATTRIBUTES=public_ip:true
  - path: c:\etc\mesos-executor-environment.json
    content: |
      {
        "PATH": "c:\usr\bin;c:\bin",
        "SHELL": "powershell.exe",
        "LIBPROCESS_NUM_WORKER_THREADS": "8"
      }
  - path: c:\etc\dcos-diagnostics-runner-config.json
    content: {{ check_config_contents }}
  - path: c:\etc\dcos-diagnostics.env
    content: |
      DCOS_DIAGNOSTICS_CONFIG_PATH=c:\opt\mesosphere\etc\dcos-diagnostics-config.json
  - path: c:\etc_slave\dcos-diagnostics-config.json
    content: |
      {
        "role": "agent",
        "endpoint-config": "c:\opt\mesosphere\etc\dcos-diagnostics-endpoint-config.json",
        "agent-port": 61001
      }
  - path: c:\etc_slave_public\dcos-diagnostics-config.json
    content: |
      {
        "role": "agent_public",
        "endpoint-config": "c:\opt\mesosphere\etc\dcos-diagnostics-endpoint-config.json",
        "agent-port": 61001
      }
  - path: c:\etc\dcos-diagnostics-endpoint-config.json
    content: |
        {
          "HTTPEndpoints": [
              {
                  "Port": 5050,
                  "Uri": "/__processes__",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/flags",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/frameworks",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/maintenance/schedule",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/maintenance/status",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/roles",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/slaves",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/state",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/state-summary",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/master/tasks",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/metrics/snapshot",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/registrar(1)/registry",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/system/stats.json",
                  "Role": ["master"]
              },
              {
                  "Port": 5050,
                  "Uri": "/version",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/metrics",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/apps",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/deployments",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/groups",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/info",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/leader",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/queue",
                  "Role": ["master"]
              },
              {
                  "Port": 8080,
                  "Uri": "/v2/tasks",
                  "Role": ["master"]
              },
              {
                  "Port": 8181,
                  "Uri": "/exhibitor/v1/cluster/list",
                  "Role": ["master"]
              },
              {
                  "Port": 8181,
                  "Uri": "/exhibitor/v1/cluster/log",
                  "Role": ["master"]
              },
              {
                  "Port": 8181,
                  "Uri": "/exhibitor/v1/cluster/state",
                  "Role": ["master"]
              },
              {
                  "Port": 8181,
                  "Uri": "/exhibitor/v1/cluster/status",
                  "Role": ["master"]
              },
              {
                  "Port": 8181,
                  "Uri": "/exhibitor/v1/config/get-state",
                  "Role": ["master"]
              },
              {
                  "Port": 5051,
                  "Uri": "/__processes__",
                  "Role":["agent", "agent_public"]
              },
              {
                  "Port": 5051,
                  "Uri": "/metrics/snapshot",
                  "Role":["agent", "agent_public"]
              },
              {
                  "Port": 5051,
                  "Uri": "/flags",
                  "Role":["agent", "agent_public"]
              },
              {
                  "Port": 5051,
                  "Uri": "/state",
                  "Role":["agent", "agent_public"]
              },
              {
                  "Port": 5051,
                  "Uri": "/system/stats.json",
                  "Role":["agent", "agent_public"]
              },
              {
                  "Port": 8123,
                  "Uri": "/v1/config",
                  "Role": ["master"]
              },
              {
                  "Port": 8123,
                  "Uri": "/v1/version",
                  "Role": ["master"]
              }
          ],
          "LocalFiles": [
              {
                  "Location": "c:\opt\mesosphere\active.buildinfo.full.json"
              },
              {
                  "Location": "c:\opt\mesosphere\etc\dcos-version.json"
              },
              {
                  "Location": "c:\opt\mesosphere\etc\expanded.config.json"
              },
              {
                  "Location": "c:\opt\mesosphere\etc\user.config.yaml"
              },
              {
                  "Location": "c:\var\lib\dcos\cluster-id"
              },
              {
                  "Location": "c:\var\lib\dcos\exhibitor\zookeeper\snapshot\myid",
                  "Role": ["master"]
              },
              {
                  "Location": "c:\var\lib\dcos\exhibitor\conf\zoo.cfg",
                  "Role": ["master"]
              }
          ],
          "LocalCommands": [
              {
                  "Command": ["dmesg"]
              }
          ]
        }
  - path: c:\etc\master_list
    content: |
      {{ master_list }}
  - path: c:\etc\extra_master_addresses
    content: |
  - path: c:\etc\user.config.yaml
    content: |
{{ config_yaml }}
  - path: c:\etc\user.config.full.yaml
    permissions: "0600"
    content: |
{{ config_yaml_full }}
  - path: c:\etc\expanded.config.json
    content: |
{{ expanded_config }}
  - path: c:\etc\expanded.config.full.json
    permissions: "0600"
    content: |
{{ expanded_config_full }}
{% switch fault_domain_enabled %}
{% case "true" %}
  - path: c:\bin\detect_fault_domain
    permissions: "0755"
    content: {{ fault_domain_detect_contents }}
{% case "false" %}
{% endswitch %}
